@config "../../tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Regular.eot");
  src:
    url("/fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Vazir-Regular.woff2") format("woff2"),
    url("/fonts/Vazir-Regular.woff") format("woff"),
    url("/fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Bold.eot");
  src:
    url("/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Vazir-Bold.woff2") format("woff2"),
    url("/fonts/Vazir-Bold.woff") format("woff"),
    url("/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@theme {
  /* --- Raw Color Definitions --- */
  /* Light Theme Colors */
  --color-background-light-50: #ffffff;
  --color-background-light-100: #fcfcfc;
  --color-background-light-200: #f8f8f8;
  --color-background-light-300: #f2f2f2;
  --color-background-light-400: #ececec;
  --color-background-light-500: #e6e6e6;
  --color-background-light-600: #dcdcdc;
  --color-background-light-700: #d0d0d0;
  --color-background-light-800: #c4c4c4;
  --color-background-light-900: #b8b8b8;
  --color-background-light-950: #a8a8a8;

  /* Dark Theme Colors */
  --color-background-dark-50: #d8e9f8;
  --color-background-dark-100: #b5d5f2;
  --color-background-dark-200: #67a8e4;
  --color-background-dark-300: #257dd0;
  --color-background-dark-400: #174e82;
  --color-background-dark-500: #0a2239;
  --color-background-dark-600: #081a2b;
  --color-background-dark-700: #061523;
  --color-background-dark-800: #040d16;
  --color-background-dark-900: #02080d;
  --color-background-dark-950: #010304;

  /* Primary Colors */
  --color-primary-50: #ecf6f8;
  --color-primary-100: #daedf1;
  --color-primary-200: #b1d8e2;
  --color-primary-300: #8cc6d4;
  --color-primary-400: #63b2c5;
  --color-primary-500: #429cb3;
  --color-primary-600: #347c8e;
  --color-primary-700: #285e6c;
  --color-primary-800: #1a3e47;
  --color-primary-900: #0e2125;
  --color-primary-950: #071013;

  /* Secondary Colors */
  --color-secondary-50: #e9f5f2;
  --color-secondary-100: #d3ece5;
  --color-secondary-200: #aadbd1;
  --color-secondary-300: #7ac9b9;
  --color-secondary-400: #4db7a2;
  --color-secondary-500: #2b9f88;
  --color-secondary-600: #227d6b;
  --color-secondary-700: #1a5e51;
  --color-secondary-800: #103d36;
  --color-secondary-900: #071f1b;
  --color-secondary-950: #030d0a;

  /* Neutral Colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #ebebeb;
  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #d6d6d6;
  --color-neutral-500: #cccccc;
  --color-neutral-600: #a3a3a3;
  --color-neutral-700: #7a7a7a;
  --color-neutral-800: #525252;
  --color-neutral-900: #292929;
  --color-neutral-950: #141414;

  /* Accent Colors */
  --color-accent-50: #fdeeec;
  --color-accent-100: #fce2de;
  --color-accent-200: #f8c1b9;
  --color-accent-300: #f5a499;
  --color-accent-400: #f18274;
  --color-accent-500: #ee6352;
  --color-accent-600: #e82f17;
  --color-accent-700: #b02411;
  --color-accent-800: #74180b;
  --color-accent-900: #3c0c06;
  --color-accent-950: #1c0603;

  /* Danger Colors */
  --color-danger-50: #fdeded;
  --color-danger-100: #fad7d6;
  --color-danger-200: #f5afae;
  --color-danger-300: #ef8785;
  --color-danger-400: #ea5f5c;
  --color-danger-500: #e53935;
  --color-danger-600: #c71c1a;
  --color-danger-700: #951513;
  --color-danger-800: #630e0d;
  --color-danger-900: #320706;
  --color-danger-950: #1b0403;

  /* Success Colors */
  --color-success-50: #dbfff4;
  --color-success-100: #adffe5;
  --color-success-200: #00faab;
  --color-success-300: #00e099;
  --color-success-400: #00c788;
  --color-success-500: #00a471;
  --color-success-600: #009465;
  --color-success-700: #00855b;
  --color-success-800: #006b49;
  --color-success-900: #005238;
  --color-success-950: #003826;

  /* Warning Colors */
  --color-warning-50: #fcfded;
  --color-warning-100: #f9fad6;
  --color-warning-200: #f4f6b1;
  --color-warning-300: #eef188;
  --color-warning-400: #e8ed64;
  --color-warning-500: #e1e83b;
  --color-warning-600: #ccd219;
  --color-warning-700: #979b12;
  --color-warning-800: #66690c;
  --color-warning-900: #313206;
  --color-warning-950: #1b1b03;

  /* Info Colors */
  --color-info-50: #eff6fb;
  --color-info-100: #e3eef7;
  --color-info-200: #c7deef;
  --color-info-300: #9fc6e4;
  --color-info-400: #78afd9;
  --color-info-500: #3b8cc8;
  --color-info-600: #337eb7;
  --color-info-700: #2d6e9f;
  --color-info-800: #265d87;
  --color-info-900: #1b4260;
  --color-info-950: #11293c;

  /* Interactive Colors */
  --color-interactive-500: var(--color-primary-500);
  --color-interactive-600: var(--color-primary-600);

  /* --- Semantic Variables (Light Theme Defaults) --- */
  --colors-bg-default: var(--color-background-light-100);
  --colors-bg-surface: var(--color-background-light-50);
  --colors-bg-alt: var(--color-background-light-100);
  --colors-bg-interactive: var(--color-background-light-200);
  --colors-bg-hover: var(--color-background-light-300);
  --colors-bg-active: var(--color-background-light-400);
  --colors-bg-disabled: var(--color-neutral-300);

  --colors-text-default: var(--color-neutral-900);
  --colors-text-secondary: var(--color-neutral-700);
  --colors-text-muted: var(--color-neutral-600);
  --colors-text-placeholder: var(--color-neutral-500);
  --colors-text-link: var(--color-primary-600);
  --colors-text-link-hover: var(--color-primary-700);
  --colors-text-on-primary: hsl(0, 0%, 100%);
  --colors-text-on-secondary: var(--color-secondary-50);
  --colors-text-on-accent: var(--color-accent-50);
  --colors-text-on-dark: hsl(0, 0%, 95%);
  --colors-text-disabled: var(--colors-text-muted);

  --colors-border-default: var(--color-neutral-400);
  --colors-border-surface: var(--color-neutral-300);
  --colors-border-interactive: var(--color-neutral-500);
  --colors-border-focus: var(--color-primary-500);
  --colors-border-disabled: var(--color-neutral-400);

  --colors-ring-default: var(--color-primary-500);

  --colors-primary: var(--color-primary-500);
  --colors-primary-hover: var(--color-primary-600);
  --colors-primary-active: var(--color-primary-700);

  --colors-secondary: var(--color-secondary-500);
  --colors-secondary-hover: var(--color-secondary-600);
  --colors-secondary-active: var(--color-secondary-700);

  --colors-accent: var(--color-accent-500);
  --colors-accent-hover: var(--color-accent-600);
  --colors-accent-active: var(--color-accent-700);

  --colors-neutral: var(--color-neutral-500);
  --colors-neutral-hover: var(--color-neutral-600);
  --colors-neutral-active: var(--color-neutral-700);

  --colors-success: var(--color-success-500);
  --colors-status-success-bg: var(--color-success-100);
  --colors-status-success-border: var(--color-success-600);
  --colors-status-success-text: var(--color-success-900);

  --colors-warning: var(--color-warning-500);
  --colors-status-warning-bg: var(--color-warning-200);
  --colors-status-warning-border: var(--color-warning-600);
  --colors-status-warning-text: var(--color-warning-900);

  --colors-danger: var(--color-danger-500);
  --colors-status-danger-bg: var(--color-danger-100);
  --colors-status-danger-border: var(--color-danger-600);
  --colors-status-danger-text: var(--color-danger-900);

  --colors-info: var(--color-info-500);
  --colors-status-info-bg: var(--color-info-100);
  --colors-status-info-border: var(--color-info-600);
  --colors-status-info-text: var(--color-info-900);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 15px 25px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  --shadow-sm-dark: 0 1px 3px rgba(255, 255, 255, 0.1);
  --shadow-md-dark: 0 4px 6px -1px rgba(255, 255, 255, 0.1);

  --opacity-hover: 0.9;
  --opacity-disabled: 0.5;

  --transition-duration: 150ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

  --font-family-sans: "Vazir", sans-serif;
}

@layer base {
  .dark {
    --colors-bg-default: var(--color-background-dark-900);
    --colors-bg-surface: var(--color-background-dark-800);
    --colors-bg-alt: var(--color-background-dark-800);
    --colors-bg-interactive: var(--color-background-dark-700);
    --colors-bg-hover: var(--color-background-dark-700);
    --colors-bg-active: var(--color-background-dark-600);
    --colors-bg-disabled: var(--color-neutral-800);

    --colors-text-default: var(--color-background-dark-100);
    --colors-text-secondary: var(--color-background-dark-300);
    --colors-text-muted: var(--color-background-dark-400);
    --colors-text-placeholder: var(--color-neutral-500);
    --colors-text-link: var(--color-primary-400);
    --colors-text-link-hover: var(--color-primary-300);
    --colors-text-on-primary: var(--color-primary-900);
    --colors-text-on-secondary: var(--color-secondary-900);
    --colors-text-on-accent: var(--color-accent-900);
    --colors-text-on-dark: var(--color-background-dark-100);
    --colors-text-disabled: var(--colors-text-secondary);

    --colors-border-default: var(--color-background-dark-700);
    --colors-border-surface: var(--color-background-dark-800);
    --colors-border-interactive: var(--color-background-dark-600);
    --colors-border-focus: var(--color-primary-300);
    --colors-border-disabled: var(--color-neutral-700);
    --colors-ring-default: var(--color-primary-300);

    --colors-primary: var(--color-primary-600);
    --colors-primary-hover: var(--color-primary-500);
    --colors-primary-active: var(--color-primary-400);

    --colors-secondary: var(--color-secondary-600);
    --colors-secondary-hover: var(--color-secondary-500);
    --colors-secondary-active: var(--color-secondary-400);

    --colors-accent: var(--color-accent-600);
    --colors-accent-hover: var(--color-accent-500);
    --colors-accent-active: var(--color-accent-400);

    --colors-neutral: var(--color-neutral-600);
    --colors-neutral-hover: var(--color-neutral-500);
    --colors-neutral-active: var(--color-neutral-400);

    --colors-success: var(--color-success-600);
    --colors-status-success-bg: var(--color-success-800);
    --colors-status-success-border: var(--color-success-700);
    --colors-status-success-text: var(--color-success-100);

    --colors-warning: var(--color-warning-600);
    --colors-status-warning-bg: var(--color-warning-800);
    --colors-status-warning-border: var(--color-warning-500);
    --colors-status-warning-text: var(--color-warning-200);

    --colors-danger: var(--color-danger-600);
    --colors-status-danger-bg: var(--color-danger-800);
    --colors-status-danger-border: var(--color-danger-700);
    --colors-status-danger-text: var(--color-danger-100);

    --colors-info: var(--color-info-600);
    --colors-status-info-bg: var(--color-info-800);
    --colors-status-info-border: var(--color-info-500);
    --colors-status-info-text: var(--color-info-100);

    --shadow-sm: var(--shadow-sm-dark);
    --shadow-md: var(--shadow-md-dark);
  }
}

/* Base Styles */
:root {
  color-scheme: light;
  font-family: var(--font-family-sans);
  --font-size-base: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
  --font-size-lg: clamp(1rem, 0.925rem + 0.375vw, 1.125rem);
  --font-size-xl: clamp(1.125rem, 1.025rem + 0.5vw, 1.25rem);
  --line-height-base: 1.6;
}

.dark {
  color-scheme: dark;
}

html {
  @apply bg-bg-default text-text-default;
  transition:
    background-color var(--transition-duration) var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body {
  @apply antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color var(--transition-duration) var(--transition-timing),
    color var(--transition-duration) var(--transition-timing);
}

a {
  @apply text-text-link hover:text-text-link-hover;
  transition: color var(--transition-duration) var(--transition-timing);
}

h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-base);
}
h4 {
  @apply text-xl font-bold mb-2;
}
h5 {
  @apply text-lg font-bold mb-2;
}
h6 {
  @apply text-base font-bold mb-2;
}

layer components {
  button,
  [role="button"] {
    transition-property: transform, opacity, background-color;
    transition-timing-function: var(--transition-timing);
    transition-duration: var(--transition-duration);

    &:hover {
      transform: translateY(-1px);
      opacity: var(--opacity-hover);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

@layer utilities {
  .space-y-adaptive > * + * {
    margin-top: clamp(0.5rem, 0.3rem + 0.5vw, 1rem);
  }

  .px-container {
    padding-left: clamp(1rem, 5vw, 2rem);
    padding-right: clamp(1rem, 5vw, 2rem);
  }
}
